<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.foodtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FoodTracker"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".InputMealActivity"
            android:label="@string/input_meal_activity_title"
            android:parentActivityName=".FoodTracker">
        </activity>

        <activity
            android:name=".ViewMealsActivity"
            android:label="@string/view_meal_activity_title"
            android:parentActivityName=".FoodTracker">
        </activity>

        <activity
            android:name=".SearchMealsActivity"
            android:label="@string/search_meal_activity_title"
            android:parentActivityName=".FoodTracker">
        </activity>

        <activity
            android:name=".EditMealsActivity"
            android:label="@string/edit_meal_activity_title"
            android:parentActivityName=".FoodTracker">
        </activity>

        <activity
            android:name=".DeleteMealsActivity"
            android:label="@string/delete_all_data_activity_title"
            android:parentActivityName=".FoodTracker">
        </activity>

    </application>

</manifest>
